html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

:root {
  --gap: 75px;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-orange: #FF9900;
  --color-darkorange: #E1670E;
  --color-salmon: #FFB84D;
  --color-grey: #666666;
  --color-lightgrey: #CACACA;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratBold'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratMedium'),
    url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratRegular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('MontserratSemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--color-white);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  min-width: 320px;
}

/* glob */
.hidden {
  visibility: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/* header */
.header {
  margin-bottom: 45px;
}

.header__container {
  min-height: 100px;
  padding: 14px var(--gap);
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__burger {
  display: none;
}

.header__logo {
  margin-right: auto;
  flex-shrink: 0;
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-right: 260px;
}

.header__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  position: relative;
  transition: color 0.3s ease-in-out;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-orange);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.header__link:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 5px;
}

.header__link:hover::after {
  opacity: 1;
}

.header__link:active::after {
  opacity: 1;
  background-color: var(--color-darkorange);
}

.header__link:active {
  outline: none;
  color: var(--color-darkorange);
}

.header__search {
  fill: var(--color-black);
  stroke: var(--color-black);
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.header__search:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 4px;
}

.header__search:hover {
  fill: var(--color-orange);
  stroke: var(--color-orange);
}

.header__search:active {
  fill: var(--color-orange);
  stroke: var(--color-orange);
  outline: none;
}

.header__form {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  min-width: 361px;
  height: 60px;
  z-index: 1000;
  padding: 16px 32px;
  padding-right: 13px;
  margin-top: 18px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  background-color: #fff;
  visibility: hidden;
  transform: translateY(-120%);
  transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__form form {
  display: flex;
  align-items: center;
}

.header__input::placeholder {
  color: #CACACA;
}

.header__input {
  margin-right: 14px;
  padding: 0;
  padding-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #CACACA;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  outline: none;
  min-width: 200px;
  max-width: 412px;
  width: 100%;
}

.header__btn {
  margin-right: 20px;
  fill: var(--color-black);
  stroke: var(--color-black);
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.header__btn:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 4px;
}

.header__btn:hover {
  fill: var(--color-orange);
  stroke: var(--color-orange);
}

.header__btn:active {
  fill: var(--color-orange);
  stroke: var(--color-orange);
  outline: none;
}

.header__form-close {
  fill: var(--color-lightgrey);
  stroke: var(--color-lightgrey);
}

.header__form-close:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 4px;
}

.header__form-close:hover {
  fill: var(--color-orange);
  stroke: var(--color-orange);
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.header__form-close:active {
  fill: var(--color-black);
  stroke: var(--color-black);
  outline: none;
}

.header__form--active {
  visibility: visible;
  transform: none;
}

/* Hero */
.hero {
  margin-bottom: 52px;
}

.hero__container {
  padding: 0 var(--gap);
}

.hero__block {
  position: absolute;
  z-index: 500;
  display: flex;
  flex-direction: column;
  padding: 0 80px;
  padding-bottom: 30px;
  border-radius: 32px;
}

.hero__title {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 20px;
  max-width: 837px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-white);
}

.hero__text {
  max-width: 790px;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-white);
}

.hero__btn {
  align-self: flex-start;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--color-white);
  padding: 25px 39px;
  background-color: var(--color-orange);
  border-radius: 16px;
  margin-bottom: 55px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.hero__btn:focus {
  background-color: var(--color-salmon);
  border-color: var(--color-salmon);
}

.hero__btn:hover {
  background-color: var(--color-salmon);
  border-color: var(--color-salmon);
}

.hero__btn:active {
  background-color: var(--color-darkorange);
  border-color: var(--color-darkorange);
}

.hero__bottom-cicrle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  fill: var(--color-white);
}

.hero__bottom-cicrle svg:not(:last-child) {
  margin-right: 20px;
}

.hero__bottom-cicrle:first-child {
  fill: var(--color-lightgrey);
}

.swiper {
  border-radius: 32px;
}

.swiper-pagination {
  margin-bottom: 18px;
  z-index: 600;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--color-lightgrey);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-white);
}

.swiper-wrapper {
  height: 620px;
  min-height: 620px;
}

.swiper-slide {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
}

.swiper-slide:nth-child(1) {
  background-image: url(../img/hero-1.png);
}

.swiper-slide:nth-child(2) {
  background-image: url(../img/hero-2.png);
}

.swiper-slide:nth-child(3) {
  background-image: url(../img/hero-3.png);
}

/* About-us */
.about-us {
  margin-bottom: 100px;
}

.about-us__container {
  padding: 0 var(--gap);
}

.about-us__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
  margin-bottom: 20px;
}

.about-us__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
  max-width: 1235px;
  margin-bottom: 50px;
}

.about-us__content {
  min-height: 622px;
  display: flex;
}

.about-us__block {
  display: flex;
  flex-direction: column;
  width: calc((100% - 32px) / 2);
}

.about-us__block:not(:last-child) {
  margin-right: 32px;
}

.about-us__item {
  flex: 1;
  margin-bottom: 32px;
}

.about-us__item:last-child {
  margin-bottom: 0;
}

.item-left {
  background-image: url(../img/about-us.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about-us__box {
  display: flex;
  width: 100%;
  min-height: 196px;
  margin-left: 0px;
  margin-top: 426px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  padding: 50px;
}

.about-us__box .about-us__text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
  max-width: 433px;
  margin-right: auto;
}

.about-us__btn {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  padding: 17px 35px;
  border: 3px solid var(--color-orange);
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about-us__btn:focus {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}

.about-us__btn:hover {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}

.about-us__btn:active {
  background-color: var(--color-darkorange);
  border-color: var(--color-darkorange);
}

.item-right {
  display: flex;
  border: 1px solid var(--color-lightgrey);
  border-radius: 32px;
  padding: 63px 60px;
}

.about-us__svg {
  margin-right: 50px;
  flex-shrink: 0;
  align-self: center;
}

.about-us__item-content .about-us__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-black);
  margin-bottom: 7px;
}

.about-us__item-content .about-us__text {
  margin: 0;
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
}

/* Stages */
.stages {
  margin-bottom: 111px;
}

.stages__container {
  padding: 0 var(--gap);
}

.stages__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}

.stages__list {
  display: flex;
  margin-bottom: 45px;
}

.stages__item {
  -webkit-text-fill-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-black);
}

.stages__item:not(:last-child) {
  margin-right: 86px;
}

.stages__link--active {
  color: var(--color-darkorange);
  -webkit-text-fill-color: var(--color-darkorange);
}

.stages__link {
  transition: color 0.3s ease-in-out;
}

.stages__link:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 5px;
}

.stages__link:hover {
  color: var(--color-orange);
}

.stages__link:active {
  color: var(--color-darkorange);
  outline: none;
}

.stages__block {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

.stages__block--active {
  display: flex;
}

.stages__block-left {
  min-height: 460px;
  margin-right: 32px;
}

.stages__block-right {
  display: flex;
  border-radius: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 870px;
  max-height: 460px;
  flex: 1;
  width: calc(100% - 142px);
}

.stages__block[data-target="one"] .stages__block-right {
  background-image: url(../img/stage-1.png);
}

.stages__block[data-target="two"] .stages__block-right {
  background-image: url(../img/stage-2.png);
}

.stages__block[data-target="three"] .stages__block-right {
  background-image: url(../img/stage-3.png);
}

.stages__block[data-target="four"] .stages__block-right {
  background-image: url(../img/stage-4.png);
}

.stages__block .stages__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-black);
}

.stages__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-black);
  max-width: 758px;
  margin-bottom: 50px;
}

.stages__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-white);
  padding: 20px 38px;
  background-color: var(--color-orange);
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.stages__btn:focus {
  background-color: var(--color-salmon);
  border-color: var(--color-salmon);
}

.stages__btn:hover {
  background-color: var(--color-salmon);
  border-color: var(--color-salmon);
}

.stages__btn:active {
  background-color: var(--color-darkorange);
  border-color: var(--color-darkorange);
}

.stages__btn:not(:last-child) {
  margin-right: 28px;
}

.stages__btn:last-child {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-black);
  background-color: transparent;
  border: 1px solid var(--color-black);
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.stages__btn:last-child:focus {
  background-color: var(--color-grey);
  border-color: var(--color-grey);
  color: var(--color-white);
}

.stages__btn:last-child:hover {
  background-color: var(--color-grey);
  border-color: var(--color-grey);
  color: var(--color-white);
}

.stages__btn:last-child:active {
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
}

/* FAQ */
.faq {
  margin-bottom: 94px;
}

.faq__container {
  padding: 0 var(--gap);
}

.faq__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-black);
}

.faq__cross {
  fill: var(--color-lightgrey);
}

.faq__cross path {
  fill: var(--color-black);
}

.faq__top:focus-visible {
  outline: 0;
}

.faq__top {
  display: flex;
  width: 100%;
  border: 0;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-lightgrey);
  align-items: center;
  background-color: transparent;
  position: relative;
  margin-top: -1px;
  transition: border-color 0.3s ease-in-out;
}

.faq__item:first-child .faq__top {
  border-top: 1px solid var(--color-lightgrey);
}

.faq__top__question {
  margin-right: auto;
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition: color 0.3s ease-in-out;
}

.faq__top__btn ellipse,
.faq__top__btn path {
  transition: fill 0.3s ease-in-out;
}

.faq__top:hover:not(:active),
.faq__top:focus-visible:not(:active),
.faq__item:first-child .faq__top:hover:not(:active),
.faq__item:first-child .faq__top:focus-visible:not(:active) {
  border-color: var(--color-orange);
}

.faq__top:hover:not(:active) .faq__top__question,
.faq__top:focus-visible:not(:active) .faq__top__question {
  color: var(--color-orange);
}

.faq__top:hover:not(:active) .faq__top__btn ellipse,
.faq__top:focus-visible:not(:active) .faq__top__btn ellipse {
  fill: var(--color-orange);
}

.faq__top:hover:not(:active) .faq__top__btn path,
.faq__top:focus-visible:not(:active) .faq__top__btn path {
  fill: var(--color-white);
}

.faq__top__btn,
.faq__top__btn:before,
.faq__top__btn:after {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.faq__top:hover:not(:active) .faq__top__btn:before,
.faq__top:hover:not(:active) .faq__top__btn:after,
.faq__top:focus-visible:not(:active) .faq__top__btn:before,
.faq__top:focus-visible:not(:active) .faq__top__btn:after {
  background-color: var(--color-white);
}

.faq__top:active .faq__top__btn {
  transform: rotate(45deg);
}

.faq__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000;
  margin-bottom: 32px;
  min-width: 100px;
  max-width: 1003px;
  width: 100%;
}

.ac {
  margin-top: 0;
  border: 0;
}

.ac .ac-trigger {
  font: inherit;
  text-align: inherit;
  padding: inherit;
  cursor: pointer;
  transition: color .25s ease;
  position: inherit;
  text-decoration: none;
  margin: 0;
  border: 0;
  display: flex;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--color-lightgrey);
  align-items: center;
  background-color: transparent;
  position: relative;
  margin-top: -1px;
  color: var(--color-black);
}

.ac .ac-trigger::after {
  display: none;
}

.ac .ac-trigger:focus {
    color: inherit;
}

.is-active .ac-panel {
  border-bottom: 2px solid var(--color-lightgrey);
}

.is-active .faq__top {
  border-bottom: 0;
}

.is-active .faq__top__btn {
  transform: rotate(45deg);
}

.is-active .faq__text {
  color: var(--color-black);
}

/* footer */
.footer {
  background-color: var(--color-black);
}

.footer__container {
  padding: 53px 75px;
  display: flex;
  justify-content: flex-end;
}

.footer__logo {
  margin-bottom: 14px;
}

.footer__left {
  margin-right: 40px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__list {
  min-width: 251px;
}

.footer__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-lightgrey);
}

.footer__link svg {
  fill: var(--color-grey);
  transition: fill 0.3s ease-in-out;
}

.footer__social {
  display: flex;
}

.footer__social .footer__link:not(:last-child) {
  margin-right: 25px;
}

.footer__link svg:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 5px;
}

.footer__social .footer__link svg:hover {
  fill: var(--color-orange);
}

.footer__link svg:active {
  fill: var(--color-darkorange);
  outline: none;
}

.footer__link {
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  outline: 2px solid var(--color-orange);
  outline-offset: 5px;
}

.footer__link:hover {
  color: var(--color-orange);
}

.footer__link:active {
  color: var(--color-darkorange);
  outline: none;
}

.footer__middle {
  margin-left: auto;
  margin-right: 237px;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-lightgrey);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input::placeholder {
  color: var(--color-lightgrey);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.footer__input {
  padding: 20px 24px;
  background-color: #414141;
  color: var(--color-white);
  border: 1px solid #414141;
  border-radius: 16px;
  margin-bottom: 25px;
  transition: background-color 0.3s ease-in-out;
}

.footer__input:focus-visible {
  outline: 0;
}

.footer__input:focus {
  background-color: var(--color-grey);
}

.footer__input:hover {
  background-color: var(--color-grey);
}

.footer__input:active {
  background-color: var(--color-grey);
  color: var(--color-white);
}

.footer__textarea {
  min-height: 150px;
  padding: 20px 24px;
  background-color: #414141;
  color: var(--color-white);
  border: 1px solid #414141;
  border-radius: 16px;
  margin-bottom: 31px;
  resize: none;
  transition: background-color 0.3s ease-in-out;
}

.footer__textarea:focus-visible {
  outline: 0;
}

.footer__textarea:focus {
  background-color: var(--color-grey);
}

.footer__textarea:hover {
  background-color: var(--color-grey);
}

.footer__textarea:active {
  background-color: var(--color-grey);
  color: var(--color-white);
}

.footer__textarea::placeholder {
  color: var(--color-lightgrey);
}

.footer__btn {
  align-self: center;
  max-width: 270px;
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 16px;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer__btn:focus {
  background-color: var(--color-salmon);
  border-color: var(--color-salmon);
}

.footer__btn:hover {
  background-color: var(--color-salmon);
  border-color: var(--color-salmon);
}

.footer__btn:active {
  background-color: var(--color-darkorange);
  border-color: var(--color-darkorange);
}

.footer__text {
  color: var(--color-lightgrey);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  width: 363px;
  margin-top: 88px;
}
